<%= render partial: 'shared/mediator', locals: { klass: 'Products',
                                                 list_of_klass: 'List of Products',
                                                 products_count_information: "Products per page: #{@products.count} / #{Product.count}" } %>

<%= link_to "New product", new_product_path %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product %></td>
      </tr>
    <% end %>
  </tbody>
</table>